/gen-doc.bat
/target
/bin/
**/.dipsbackup/**
*.adlx
*~
opt-temp/*
/doc/kreftpakkeforløp/mock/*.png
/doc/fysioterapi/*.pdf

/templates/BNA-*
/templates/*.opt
/templates/Test
/doc/kreftpakkeforløp/resources/*.~vsdx
*.~vsdx
gdl/CHA2DS2-VASc-COSMIC.v1/
